


    <script src="/js/newjs/build/three.js"></script>
		<script src="/js/newjs/libs/dat.gui.min.js"></script>
		<script src="/js/newjs/libs/OrbitControls.js"></script>
		<script src="/js/newjs/libs/DRACOLoader.js"></script>
		<script src="/js/newjs/libs/DDSLoader.js"></script>
		<script src="/js/newjs/libs/GLTFLoader.js"></script>

		<script src="/js/newjs/libs/pmrem/PMREMGenerator.js"></script>
		<script src="/js/newjs/libs/pmrem/PMREMCubeUVPacker.js"></script>
		<script src="/js/newjs/libs/mathjs/math.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <script src="/js/model.js"></script>
    <script src="/js/controlmodel.js"></script>

  </body>
</html>
